:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --text-color: #333333;
    --footer-text-color: #ffffff;
    --link-color: #4944ad;
    --link-hover-color: #8e44ad;
    --body-font: 'Figtree', sans-serif;
    --title-font: 'Noto Sans', sans-serif;
    --background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    height: 100px;
    background-color: var(--header-text-color);
    width: 100%;
}

main {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(126, 202, 212);
}

form {
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

input,
textarea,
button {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    font-family: var(--body-font);
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    background-color: var(--primary-color);
    color: var(--footer-text-color);
    border: none;
    cursor: pointer;
    font-family: var(--title-font);
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

footer {
    font-family: var(--title-font);
    background-color: var(--primary-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

footer p {
    margin: 0.5rem 0;
}