@media only screen and (min-width: 40em) {
    picture {
        position: relative;
        width: 100%;
        display: block;
    }

    img {
        max-height: 950px;
        object-fit: cover;
    }

    .card {
        transform: translate(-50%, -50%);
        /* Center the card using translate */
        z-index: 10;
        /* Ensure it stays above the hero image */
        background-color: rgba(255, 255, 255, 0.9);
        /* Add a semi-transparent background */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        width: 80%;
        max-width: 500px;
        padding: 20px;

    }

    h2 {
        text-align: left;
        margin-left: -30px;
        padding: 30px 20px 20px 30px;
        font-size: 1.5em;
        color: white;
        background-color: rgba(8, 8, 62, 0.666);
        width: 80%;
    }

    #country-card {
        position: absolute;
        top: 25%;
        left: 15%;
        width: 400px;
    }

    #weather-card {
        position: absolute;

        top: 60%;
        left: 85%;
        width: 300px;
    }

    #weather-img {
        height: 40px;
        width: 100%;
        object-fit: contain;

    }

}