.noto-sans- {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.figtree- {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary-color: #2c3e50;

    --secondary-color: #3498db;

    --text-color: #333333;

    --header-text-color: rgb(255, 200, 191);

    --footer-text-color: #ffffff;

    --link-color: #4944ad;

    --link-hover-color: #8e44ad;

    --body-font: 'Figtree', sans-serif;

    --title-font: 'Noto Sans', sans-serif;

    --background-color: #ecf0f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Nav (Hamburger Menu) */

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    height: 60px;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--header-text-color);
    color: #000;
}

#menu::before {
    display: block;
    content: "≡";
    text-align: right;
}

#menu.show::before {
    content: "X";
}

h1 {
    font-size: 1rem;
    position: absolute;
    top: 20px;
    left: 10px;
}

nav {
    background-color: var(--header-text-color);
}

.navigation a.active {
    background-color: turquoise;
    /* Example color */
    font-weight: bold;
}



.navigation a:hover,
navigation a:active {
    color: white;
    background-color: black;
}

.navigation li {
    display: none;
    max-width: 100px;
    /* padding-left: 10px; */
}

.show li {
    display: block;
    font-size: large;
    padding: 10px 0px 10px 0px;



}

.show a {
    padding: 10px 1000px 10px 10px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
}



/* Page title */
h2 {
    text-align: center;
    padding: 30px 0px 20px;
}

/* Image layout */
img {
    width: 100%;
    min-width: 400px;
    /* max-width: 600px; */
    height: auto;
    margin: .5rem;
}

figcaption {
    text-align: center;
    font-weight: 600;
}

#album-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 25px;
    place-items: center;
    margin: 0 auto;

}



/* Footer */
footer {
    font-family: var(--title-font);
    background-color: var(--primary-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    height: 110px;
}

footer p {
    margin: 0.5rem 0;
}

footer p span {
    font-weight: bold;
}

#lastModified {
    font-size: 1rem;
    margin-top: 0.5rem;
    color: [white];
}